* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

hr {
  background-color: #00A7DC;
  border-top: 5px solid rgba(0,0,0,.1);
  width: 100px;
  margin-top: 0;
  margin-bottom: 40px;
}

.rosa { color: #F3767A; }
.azul { color: #00A7DC; }

nav img {
  width: 100px;
  height: auto;
}

nav {
  position: absolute !important;

  a {
    color: #FFF;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-left: 40px;
    transition: 0.3s ease;
  
    &:hover {
      color: #F3767A;
    }
  }
}

.contact-btn {
  border: 1px solid #FFF;
  border-radius: 20px;
  transition: 0.3s all;
  cursor: pointer;

  &:hover {
    background-color: #F3767A;
    border-color: #F3767A;
    color: #FFF;
  }
}

.banner {
  height: 80vh;
  background-color: #005570;
  background-image: url(../images/element-intro-righ.svg);
  background-repeat: no-repeat;
  background-position: 80% 100%;
  background-size: 35%;

  p { font-size: 18px; }

  .element-1 {
    height: 80%;
    width: 40%;
    background-image: url(../images/element-intro-left.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center left;
    margin-right: auto;
    position: absolute;
  }
}

.title h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 56px;
  font-weight: 700;
}

.title h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: 700;
}

.servicos { 
  background-color: #00252D;

  .icon {
    width: 100px;
    height: auto;
  }

  .text {
    width: 80%;
  }

  .element-2 {
    height: 80%;
    width: 40%;
    background-image: url(../images/element-servicos.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center left;
    margin-right: auto;
    position: absolute;
  }
}

.icon-title {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

.card {
  height: 560px;
}

.card-body {

  .card-title {
    font-weight: 700;
    font-size: 32px;
  }

  .card-subtitle {
    font-weight: 700;
    color: #000 !important;
  }

  .card-text li {
    color: #000;
    list-style-type: none;

    i { color: #00A7DC; }
  }

  .prazos li {
    font-weight: 700;
    color: #000;
    list-style-type: none;
    
    i { color: #000 !important; }
  }

  .card-link {
    color: #FFF;
    font-weight: 700;
    font-size: 48px;
    text-decoration: none;
    width: 80%;
    border-radius: 50px;

    span {
      font-size: 22px;
    }
  }
}

.audio {
  background-color: #005570;
  background-image: url(../images/element-audio.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;

  .card-link { 
    background-color: #F3767A;
    transition: 0.3s all; 
    
    &:hover { background-color: #F25055; }
  }
}

.visual {
  background-color: #00252D;
  background-image: url(../images/element-visual.svg);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: -25% 50%;

  .card-link { 
    background-color: #00A7DC;
    transition: 0.3s all;

    &:hover { background-color: #057CA2; }
  }
}

.contato {
  background-color: #005570;
  background-image: url(../images/element-contato.svg);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: 35% 100%;

  form {
    background-color: #00252D;

    textarea {
      min-height: 150px;
    }

    .button {
      background-color: #F3767A;
      border: none;
      border-radius: 30px;
      transition: 0.3s all;
      cursor: pointer;
      font-weight: 700;

      &:hover { background-color: #F25055; }
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

footer {
    display: flex;
    background-color: #0a090f;
    height: 20px;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

p {
    font-size: 12px;
    color: #FFF !important;
    margin: 0;
}

a {
    text-decoration: none;
    color: #63F767;
    transition: all 0.3s;
}

a:hover { color: #11aa16; }

@media (max-width: 991px) {

  nav {
    position: fixed !important;
    z-index: 10;

    .navbar-brand {
      z-index: 11;
    }

    .nav-item a {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 1.2rem;
      margin-left: 0;
    }
  
    .collapse { flex-basis: 0; }

    .main-menu {
      top: 0;
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-top: 10em;
      padding-bottom: 200px !important;
      right: 0;
      width: 100% !important;
      height: 100vh;
      background-color: #00252D;
      background-size: 100%;
      transform: translateY(-100%);
      transition: transform .5s ease;
  
        li {
          opacity: 0;
        }
    }
  
    .burger {
      width: 50px;
      height: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-left: auto;
      z-index: 11;
      
      div {
        width: 40px;
        height: 2px;
        margin-bottom: 6px;
        background-color: #FFF;
      }
  
      .line1 .line2 {
        margin-bottom: 3px;
      }
  
      .line1 {
        transition: all 0.2s ease;
      }
  
      .line3 {
        transition: all 0.2s ease;
      }
  
      .nav-active {
        transform: translateX(0);
      }
    }
  
    .toggle {
      .line1 { transform: rotate(45deg) translatex(0) translateY(11px); }
      .line2 { opacity: 0; }
      .line3 { transform: rotate(-45deg) translatex(0) translateY(-11px); }
    }
  
    .nav-active {
      transform: translateX(0);
    }
  
    .nav-item::before, .nav-item::after {
          content: '';
          height: 2px;
          width: 100%;
          background-color: var(--very-light-gray);
          display: block;
          transform: scale(0, 1);
          transition: all 0.3s ease-out;
    }
  
    .nav-item::before {
        transform-origin: left;
    }
  
    .nav-item::after {
        transform-origin: right;
    }
  
    .nav-item:hover::before,
    .nav-item:hover::after {
        transform: scale(1, 1);
    }
  
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateY(-350px);
        }
  
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
  }
  
  .card { height: 600px; }

  .card-link { font-size: 32px !important; }

  .banner {
    background-size: 80%;
    background-position: 280% 100%;

    .element-1 {
      height: 80%;
      width: 60%;
      background-image: url(../images/element-intro-left.svg);
      background-repeat: no-repeat;
      background-size: 30%;
      background-position: center left;
      margin-right: auto;
      position: absolute;
    }
  }
  
  .servicos {
    background-image: url(../images/element-servicos.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: -10% 105%;
  }

  .audio {
    background-position: right bottom;
    background-size: 70%;
  }

  .visual {
    background-size: 80%;
    background-position: -200% 40%;
  }

  .contato {
    background-size: 120%;
    background-position: 120% 110%;
  }

}