@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

hr {
  background-color: #00A7DC;
  border-top: 5px solid rgba(0, 0, 0, 0.1);
  width: 100px;
  margin-top: 0;
  margin-bottom: 40px;
}

.rosa {
  color: #F3767A;
}

.azul {
  color: #00A7DC;
}

nav img {
  width: 100px;
  height: auto;
}

nav {
  position: absolute !important;
}

nav a {
  color: #FFF;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  margin-left: 40px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav a:hover {
  color: #F3767A;
}

.contact-btn {
  border: 1px solid #FFF;
  border-radius: 20px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: #F3767A;
  border-color: #F3767A;
  color: #FFF;
}

.banner {
  height: 80vh;
  background-color: #005570;
  background-image: url(../images/element-intro-righ.svg);
  background-repeat: no-repeat;
  background-position: 80% 100%;
  background-size: 35%;
}

.banner p {
  font-size: 18px;
}

.banner .element-1 {
  height: 80%;
  width: 40%;
  background-image: url(../images/element-intro-left.svg);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center left;
  margin-right: auto;
  position: absolute;
}

.title h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 56px;
  font-weight: 700;
}

.title h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: 700;
}

.servicos {
  background-color: #00252D;
}

.servicos .icon {
  width: 100px;
  height: auto;
}

.servicos .text {
  width: 80%;
}

.servicos .element-2 {
  height: 80%;
  width: 40%;
  background-image: url(../images/element-servicos.svg);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center left;
  margin-right: auto;
  position: absolute;
}

.icon-title {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

.card {
  height: 560px;
}

.card-body .card-title {
  font-weight: 700;
  font-size: 32px;
}

.card-body .card-subtitle {
  font-weight: 700;
  color: #000 !important;
}

.card-body .card-text li {
  color: #000;
  list-style-type: none;
}

.card-body .card-text li i {
  color: #00A7DC;
}

.card-body .prazos li {
  font-weight: 700;
  color: #000;
  list-style-type: none;
}

.card-body .prazos li i {
  color: #000 !important;
}

.card-body .card-link {
  color: #FFF;
  font-weight: 700;
  font-size: 48px;
  text-decoration: none;
  width: 80%;
  border-radius: 50px;
}

.card-body .card-link span {
  font-size: 22px;
}

.audio {
  background-color: #005570;
  background-image: url(../images/element-audio.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}

.audio .card-link {
  background-color: #F3767A;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.audio .card-link:hover {
  background-color: #F25055;
}

.visual {
  background-color: #00252D;
  background-image: url(../images/element-visual.svg);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: -25% 50%;
}

.visual .card-link {
  background-color: #00A7DC;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.visual .card-link:hover {
  background-color: #057CA2;
}

.contato {
  background-color: #005570;
  background-image: url(../images/element-contato.svg);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: 35% 100%;
}

.contato form {
  background-color: #00252D;
}

.contato form textarea {
  min-height: 150px;
}

.contato form .button {
  background-color: #F3767A;
  border: none;
  border-radius: 30px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
  font-weight: 700;
}

.contato form .button:hover {
  background-color: #F25055;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0a090f;
  height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

p {
  font-size: 12px;
  color: #FFF !important;
  margin: 0;
}

a {
  text-decoration: none;
  color: #63F767;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  color: #11aa16;
}

@media (max-width: 991px) {
  nav {
    position: fixed !important;
    z-index: 10;
  }
  nav .navbar-brand {
    z-index: 11;
  }
  nav .nav-item a {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-left: 0;
  }
  nav .collapse {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
  nav .main-menu {
    top: 0;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10em;
    padding-bottom: 200px !important;
    right: 0;
    width: 100% !important;
    height: 100vh;
    background-color: #00252D;
    background-size: 100%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
  }
  nav .main-menu li {
    opacity: 0;
  }
  nav .burger {
    width: 50px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    margin-left: auto;
    z-index: 11;
  }
  nav .burger div {
    width: 40px;
    height: 2px;
    margin-bottom: 6px;
    background-color: #FFF;
  }
  nav .burger .line1 .line2 {
    margin-bottom: 3px;
  }
  nav .burger .line1 {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  nav .burger .line3 {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  nav .burger .nav-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  nav .toggle .line1 {
    -webkit-transform: rotate(45deg) translatex(0) translateY(11px);
            transform: rotate(45deg) translatex(0) translateY(11px);
  }
  nav .toggle .line2 {
    opacity: 0;
  }
  nav .toggle .line3 {
    -webkit-transform: rotate(-45deg) translatex(0) translateY(-11px);
            transform: rotate(-45deg) translatex(0) translateY(-11px);
  }
  nav .nav-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  nav .nav-item::before, nav .nav-item::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--very-light-gray);
    display: block;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  nav .nav-item::before {
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  nav .nav-item::after {
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  nav .nav-item:hover::before,
  nav .nav-item:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateY(-350px);
              transform: translateY(-350px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateY(-350px);
              transform: translateY(-350px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  .card {
    height: 600px;
  }
  .card-link {
    font-size: 32px !important;
  }
  .banner {
    background-size: 80%;
    background-position: 280% 100%;
  }
  .banner .element-1 {
    height: 80%;
    width: 60%;
    background-image: url(../images/element-intro-left.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center left;
    margin-right: auto;
    position: absolute;
  }
  .servicos {
    background-image: url(../images/element-servicos.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: -10% 105%;
  }
  .audio {
    background-position: right bottom;
    background-size: 70%;
  }
  .visual {
    background-size: 80%;
    background-position: -200% 40%;
  }
  .contato {
    background-size: 120%;
    background-position: 120% 110%;
  }
}
/*# sourceMappingURL=style.css.map */